<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "GamerBlog" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark border-bottom border-primary border-4 mb-3 py-4">
      <div class="container-fluid">
          <h2 class="navbar-brand text-white" >Gamer Blog</h2>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <%= if @current_user do %>
                <a class="nav-link active text-white" aria-current="page" href="/mydashboard">Home</a>
              <% else %>
                <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
              <% end %>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Communities
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><.link href={~p"/c/1/posts"} class="dropdown-item">Apex Legends</.link></li>
                <li><.link href={~p"/c/2/posts"} class="dropdown-item">Civilization 6</.link></li>
                <li><.link href={~p"/c/2/posts"} class="dropdown-item">Destiny 2</.link></li>
                <li><.link href={~p"/c/2/posts"} class="dropdown-item">Fortnite</.link></li>
                <li><.link href={~p"/c/2/posts"} class="dropdown-item">Warhammer 40k</.link></li>
              </ul>
            </li>
          </ul>
          <span class="navbar-text">
            <%= if @current_user do %>
                <.link
                  href={~p"/users/settings"}
                  class="btn btn-primary"
                >
                  Settings
                </.link>
                <.link
                  href={~p"/users/log_out"}
                  method="delete"
                  class="btn btn-secondary"
                >
                  Log out
                </.link>
            <% else %>
                <.link
                  href={~p"/users/register"}
                  class="btn btn-primary"
                >
                  Register
                </.link>
                <.link
                  href={~p"/users/log_in"}
                  class="btn btn-secondary"
                >
                  Log in
                </.link>
            <% end %>            
          </span>
        </div>
      </div>
    </nav>
    






























      
    <%= @inner_content %>
  </body>
</html>
