<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Server Error</title>
    <link rel="stylesheet" href="/assets/app.css"/>
    <script defer type="text/javascript" src="/assets/app.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row align-items-center justify-items-center px-4 py-5 my-3">
          <div class="col-md-6 offset-md-3">
              <h1 class="text-center">500</h1>
              <h4 class="text-center">Ooops, something bonked on our side. Please try again later or click here: </h4>
              <p class="text-center">
                <.link navigate={~p"/"}>
                    Home
                </.link>
              </p>
          </div>
      </div>
    </div>
  </body>
</html>
