$body-bg:       #6A4C93;
$primary:       #1982C4;
$secondary:     #8AC926;
$success:       #80CFA9;
$info:          #A7E2E3;
$warning:       #FFCA3A;
$danger:        #FF595E;
$light:         #dfd9d9;
$dark:          #3d3d3d;