$body-bg:       #c9c9c9;
$primary:       #7A28CB;
$secondary:     #8AC926;
$success:       #b7f742;
$info:          #A7E2E3;
$warning:       #F4B393;
$danger:        #FF595E;
$light:         #d6d6d6;
$dark:          #2b2a2a;