$body-bg:       #e9ecef;
$primary:       #9e15bf;
$secondary:     #4ac6d2;
$success:       #2424d3;
$info:          #cae7df;
$warning:       #F7C331;
$danger:        #fe4a49;
$light:         #DCC7AA;
$dark:          #1F3044;

.clear-words {
    text-decoration: none;
}
