<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "GamerBlog", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body class="body-bg-gray-300">
    <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom border-primary border-4 mb-3 py-4">
      <div class="container-fluid">
          <h2 class="navbar-brand" >Gamer Blog</h2>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <%= if @current_user do %>
                <a class="nav-link active" aria-current="page" href="/mydashboard">Home</a>
              <% else %>
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              <% end %>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Communities
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><%= link "Apex Legends", to: Routes.post_index_path(@conn, :index, 1), class: "dropdown-item" %></li>
                <li><%= link "Civilization 6", to: Routes.post_index_path(@conn, :index, 2), class: "dropdown-item" %></li>
                <li><%= link "Destiny 2", to: Routes.post_index_path(@conn, :index, 3), class: "dropdown-item" %></li>
                <li><%= link "Fortnite", to: Routes.post_index_path(@conn, :index, 4), class: "dropdown-item" %></li>
                <li><%= link "Warhammer 40k", to: Routes.post_index_path(@conn, :index, 5), class: "dropdown-item" %></li>
              </ul>
            </li>
          </ul>
          <span class="navbar-text">
            <%= render "_user_menu.html", assigns %>
          </span>
        </div>
      </div>
    </nav>
    <%= @inner_content %>
  </body>
</html>
